/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-flow-panel {
    -fx-background: fff ;
    -fx-border-width: 0 ;
    -fx-border-color: #e4e4e4 ;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 8, 0, 0, 0);
}

.text-flow {
    -fx-background-color: white ;
}

.success-text {
    -fx-fill: green ;
    -fx-font-size: 14 ;
    -fx-font-family: 'cursive' ;
}

.error-text {
    -fx-fill: red ;
    -fx-font-size: 14 ;
    -fx-font-family: 'cursive' ;
}

.title {
    -fx-fill: black ;
    -fx-font-weight: bold ;
    -fx-font-size: 17 ;
    -fx-font-family: 'fantasy' ;
}

.title-error {
    -fx-fill: red ;
    -fx-font-weight: bold ;
    -fx-font-size: 17 ;
    -fx-font-family: 'fantasy' ;
}

.normal-text {
    -fx-fill: black ;
    -fx-font-size: 14 ;
    -fx-font-family: 'cursive' ;
}

.menu-text {
    -fx-fill: black ;
    -fx-font-size: 13 ;
    -fx-font-family: 'cursive' ;
}

.menu {

}